body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
}
#u1951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:138px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:463px;
  width:282px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
