body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:674px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:674px;
  display:flex;
}
#u11785 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  display:flex;
}
#u11787 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u11792 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:4px;
  width:24px;
  height:12px;
  display:flex;
  opacity:0.4000000059604645;
}
#u11792 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u11793 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:8px;
  width:2px;
  height:5px;
  display:flex;
  opacity:0.4000000059604645;
}
#u11793 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11794 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:6px;
  width:20px;
  height:8px;
  display:flex;
}
#u11794 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u11795 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3px;
  width:33px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u11795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u11796 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:5px;
  width:6px;
  height:10px;
  display:flex;
}
#u11796 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u11797 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:45px;
  height:14px;
  display:flex;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u11797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u11800 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:40px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u11800 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u11801 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:17px;
  height:10px;
  display:flex;
}
#u11801 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u11802 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:5px;
  width:15px;
  height:10px;
  display:flex;
}
#u11802 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:60px;
  display:flex;
}
#u11806 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11807 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:40px;
  width:20px;
  height:20px;
  display:flex;
}
#u11807 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11808 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:41px;
  width:10px;
  height:18px;
  display:flex;
}
#u11808 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u11809 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:39px;
  width:96px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u11809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11811 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:83px;
  height:40px;
  display:flex;
}
#u11811 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u11812 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:47px;
  width:5px;
  height:5px;
  display:flex;
}
#u11812 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u11813 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:38px;
  width:18px;
  height:23px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u11813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11814 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:35px;
  width:30px;
  height:30px;
  display:flex;
}
#u11814 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u11815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:359px;
  height:1px;
  display:flex;
}
#u11815 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
}
#u11818 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#404040;
}
#u11819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:120px;
  height:15px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#404040;
}
#u11819 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11821 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
}
#u11821 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#404040;
}
#u11822 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:93px;
  width:120px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#404040;
}
#u11822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11824 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:120px;
  height:40px;
  display:flex;
}
#u11824 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#404040;
}
#u11825 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:93px;
  width:120px;
  height:15px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#404040;
}
#u11825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u11826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:359px;
  height:1px;
  display:flex;
}
#u11826 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:360px;
  height:120px;
  display:flex;
}
#u11827 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.04px;
  color:#404040;
  text-align:left;
}
#u11828 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:260px;
  width:247px;
  height:16px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.04px;
  color:#404040;
  text-align:left;
}
#u11828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:296px;
  width:34px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11830 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:325px;
  width:320px;
  height:321px;
  display:flex;
}
#u11830 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.04px;
  color:#404040;
}
#u11831 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:514px;
  width:173px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.04px;
  color:#404040;
}
#u11831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:13px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:9.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11833 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:551px;
  width:280px;
  height:13px;
  display:flex;
}
#u11833 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:13px;
  background:inherit;
  background-color:rgba(35, 113, 227, 1);
  border:none;
  border-radius:7.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11834 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:551px;
  width:280px;
  height:13px;
  display:flex;
}
#u11834 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u11835 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:335px;
  width:170px;
  height:170px;
  display:flex;
}
#u11835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:left;
}
#u11836 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:296px;
  width:42px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#979797;
  text-align:left;
}
#u11836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11838 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11838 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11839 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:596px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11840 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11840 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11841 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:594px;
  width:20px;
  height:20px;
  display:flex;
}
#u11841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11842 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11843 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:594px;
  width:20px;
  height:20px;
  display:flex;
}
#u11843 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11844 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11845 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:594px;
  width:20px;
  height:20px;
  display:flex;
}
#u11845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11847 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11848 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:596px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11850 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11850 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11851 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:596px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11853 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:584px;
  width:40px;
  height:40px;
  display:flex;
}
#u11853 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11854 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:596px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:654px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:654px;
  display:flex;
  opacity:0.8;
}
#u11855 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:502px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11856 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:320px;
  height:502px;
  display:flex;
}
#u11856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u11858 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:189px;
  width:280px;
  height:280px;
  display:flex;
}
#u11858 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11859 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:489px;
  width:198px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11859_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u11860 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:518px;
  width:280px;
  height:34px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u11860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11863 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:129px;
  width:40px;
  height:40px;
  display:flex;
}
#u11863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11864 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:141px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11864 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11866 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:129px;
  width:40px;
  height:40px;
  display:flex;
  opacity:0.5;
}
#u11866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11867 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:141px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11869 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:129px;
  width:40px;
  height:40px;
  display:flex;
  opacity:0.5;
}
#u11869 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11870 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:141px;
  width:40px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.04px;
  color:#FFFFFF;
}
#u11870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11872 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:129px;
  width:40px;
  height:40px;
  display:flex;
}
#u11872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11873 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:139px;
  width:20px;
  height:20px;
  display:flex;
}
#u11873 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11874 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:89px;
  width:20px;
  height:20px;
  display:flex;
}
#u11874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11875 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:90px;
  width:96px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u11875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11876 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:80px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
