body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1095px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1095px;
  display:flex;
}
#u12219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  display:flex;
}
#u12221 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:4px;
  width:24px;
  height:12px;
  display:flex;
  opacity:0.4000000059604645;
}
#u12226 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:8px;
  width:2px;
  height:5px;
  display:flex;
  opacity:0.4000000059604645;
}
#u12227 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:6px;
  width:20px;
  height:8px;
  display:flex;
}
#u12228 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3px;
  width:33px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u12229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:5px;
  width:6px;
  height:10px;
  display:flex;
}
#u12230 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:45px;
  height:14px;
  display:flex;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u12231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:40px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u12234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:17px;
  height:10px;
  display:flex;
}
#u12235 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:5px;
  width:15px;
  height:10px;
  display:flex;
}
#u12236 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:60px;
  display:flex;
}
#u12240 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12241 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:40px;
  width:20px;
  height:20px;
  display:flex;
}
#u12241 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:41px;
  width:10px;
  height:18px;
  display:flex;
}
#u12242 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:39px;
  width:124px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u12243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:30px;
  width:83px;
  height:40px;
  display:flex;
}
#u12245 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:47px;
  width:5px;
  height:5px;
  display:flex;
}
#u12246 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:38px;
  width:18px;
  height:23px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:35px;
  width:30px;
  height:30px;
  display:flex;
}
#u12248 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:359px;
  height:1px;
  display:flex;
}
#u12249 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u12251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:20px;
  height:20px;
  display:flex;
}
#u12252 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:141px;
  width:320px;
  height:86px;
  display:flex;
}
#u12254 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:169px;
  width:70px;
  height:58px;
  display:flex;
}
#u12255 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:161px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:190px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:247px;
  width:320px;
  height:86px;
  display:flex;
}
#u12260 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:275px;
  width:70px;
  height:58px;
  display:flex;
}
#u12261 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:267px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:296px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:353px;
  width:320px;
  height:86px;
  display:flex;
}
#u12266 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12267 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:381px;
  width:70px;
  height:58px;
  display:flex;
}
#u12267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:373px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:402px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12272 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:459px;
  width:320px;
  height:86px;
  display:flex;
}
#u12272 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12273 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:487px;
  width:70px;
  height:58px;
  display:flex;
}
#u12273 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12275 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:479px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12275 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12276 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:508px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12278 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:565px;
  width:320px;
  height:86px;
  display:flex;
}
#u12278 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12279 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:593px;
  width:70px;
  height:58px;
  display:flex;
}
#u12279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12281 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:585px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12282 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:614px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12284 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:671px;
  width:320px;
  height:86px;
  display:flex;
}
#u12284 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12285 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:699px;
  width:70px;
  height:58px;
  display:flex;
}
#u12285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12287 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:691px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12288 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:720px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12290 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:777px;
  width:320px;
  height:86px;
  display:flex;
}
#u12290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12291 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:805px;
  width:70px;
  height:58px;
  display:flex;
}
#u12291 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12293 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:797px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12294 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:826px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12296 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:883px;
  width:320px;
  height:86px;
  display:flex;
}
#u12296 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12297 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:911px;
  width:70px;
  height:58px;
  display:flex;
}
#u12297 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12299 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:903px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12299 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12300 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:932px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:86px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12302 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:989px;
  width:320px;
  height:86px;
  display:flex;
}
#u12302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u12303 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:1017px;
  width:70px;
  height:58px;
  display:flex;
}
#u12303 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12305 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1009px;
  width:150px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u12305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12306 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1038px;
  width:150px;
  height:17px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12308 {
  position:fixed;
  left:50%;
  margin-left:-180px;
  top:0px;
}
#u12308_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:80px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12308_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  display:flex;
}
#u12310 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u12315 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:4px;
  width:24px;
  height:12px;
  display:flex;
  opacity:0.4000000059604645;
}
#u12315 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u12316 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:8px;
  width:2px;
  height:5px;
  display:flex;
  opacity:0.4000000059604645;
}
#u12316 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12317 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:6px;
  width:20px;
  height:8px;
  display:flex;
}
#u12317 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u12318 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3px;
  width:33px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u12318 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u12319 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:5px;
  width:6px;
  height:10px;
  display:flex;
}
#u12319 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u12320 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:45px;
  height:14px;
  display:flex;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u12320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u12323 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:40px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u12323 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u12324 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:17px;
  height:10px;
  display:flex;
}
#u12324 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u12325 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:5px;
  width:15px;
  height:10px;
  display:flex;
}
#u12325 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:60px;
  display:flex;
}
#u12326 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12327 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:40px;
  width:20px;
  height:20px;
  display:flex;
}
#u12327 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12328 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:41px;
  width:10px;
  height:18px;
  display:flex;
}
#u12328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u12329 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:39px;
  width:69px;
  height:22px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#404040;
  text-align:left;
}
#u12329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12330 {
  position:absolute;
  left:262px;
  top:30px;
}
#u12330_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12330_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  display:flex;
}
#u12332 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12333 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:17px;
  width:5px;
  height:5px;
  display:flex;
}
#u12333 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12334 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:8px;
  width:18px;
  height:23px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u12334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12335 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:30px;
  height:30px;
  display:flex;
}
#u12335 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u12336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:359px;
  height:1px;
  display:flex;
}
#u12336 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12337 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:30px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
