body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:644px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u536 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:39px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:41px;
  height:39px;
  display:flex;
}
#u537 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:80px;
  width:130px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u539 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:80px;
  width:130px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u540 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:80px;
  width:130px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u541 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:217px;
  width:130px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u542 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:217px;
  width:130px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
