body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:6px;
  width:33px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:180px;
  width:30px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u409 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u411 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u412 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:220px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
