body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3455 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u3455_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3455_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u3456 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3457 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u3457_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u3458 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3459 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3459_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
}
#u3460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:92px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:312px;
  width:314px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3459_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3459_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
}
#u3463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:92px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:312px;
  width:314px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:151px;
  width:150px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:151px;
  width:150px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
