body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:380px;
  width:644px;
  height:360px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:760px;
  width:644px;
  height:360px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1140px;
  width:644px;
  height:360px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1520px;
  width:644px;
  height:360px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1900px;
  width:644px;
  height:360px;
  display:flex;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2280px;
  width:644px;
  height:360px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:2660px;
  width:644px;
  height:360px;
  display:flex;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:3040px;
  width:644px;
  height:360px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:6px;
  width:33px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
