body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:696px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:696px;
  display:flex;
}
#u3408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:51px;
  width:46px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:226px;
  width:52px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u3410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:226px;
  width:52px;
  height:26px;
  display:flex;
  font-size:10px;
}
#u3411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
