body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:644px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:6px;
  width:33px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u469 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u470 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:182px;
  width:30px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u471 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u472 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:79px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u473 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:219px;
  width:129px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
