body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:644px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
