body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
  display:flex;
}
#u3341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:92px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3343 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:183px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3344 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:141px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:380px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:183px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:141px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3348 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:130px;
  width:138px;
  height:36px;
}
#u3348_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u3350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  display:flex;
}
#u3350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
