body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:360px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:0px;
  width:644px;
  height:360px;
  display:flex;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:39px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:5px;
  width:41px;
  height:39px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:90px;
  width:130px;
  height:202px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u494 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:90px;
  width:130px;
  height:202px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u495 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:177px;
  width:29px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
